/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

.container {
  padding: 0 20px 0 20px;
}

header#plugin-page-header {
  width: 95% !important;
}

section#content {
  background-color: white;
}

#plugin-content-area {
  width: 100% !important;
  height: 89vh;
}

#plugin-table {
  width: 95% !important;
  margin: auto;
}

#plugin-table > th {
  text-align: center;
}
